[submodule "embedded/teocli"]
	path = embedded/teocli
	url = https://github.com/teonet-co/teocli.git

[submodule "app/embedded/jsmn"]
	path = app/embedded/jsmn
	url = https://github.com/zserge/jsmn.git
	ignore = dirty

[submodule "embedded/libtrudp"]
	path = embedded/libtrudp
	url = https://github.com/teonet-co/trudp.git

