# build artifacts
**/*.a
**/*.la
**/*.o
**/*.lo
**/*.dll
**/.deps/
**/.libs/
**/.dirstamp
**/build-aux/
**/m4/
**/config.h.in
**/Makefile
**/Makefile.in
**/Makefile.in.in
**/autom4te.cache/


# ide settings
.vscode/
nbproject/


/.f1/
/.teonet_tst/
/.teovpn/
/.teosend/
/.teolarge/
/.teofossa/
/.teomulti_t/
/.teomulti/
/.teotcp/
/.teotun/
/.teoterm/
/build/
/distr/udt4/
/docs/
/embedded/libpbl/src/pblkftst
/embedded/libpbl/src/pbliftst
/embedded/libpbl/src/pblPriorityQueueTest
/embedded/libpbl/src/pblPerform
/embedded/libpbl/src/pblListTest
/embedded/libpbl/src/pblMapTest
/embedded/libpbl/src/pblkfblockprint
/embedded/libpbl/src/pblSetTest
/embedded/libpbl/src/pblhttst
/mkinstalldirs
/aclocal.m4
/ylwrap
/examples/teonet_tst
/examples/teolarge
/examples/fossa/teofossa
/examples/teosend
/examples/teomulti
/examples/teomulti_t
/examples/teotcp
/examples/teotun
/examples/teoterm
/src/libteonet.pc
/src/config/stamp-h1
/src/config/config.h.in
/src/config/config.h
/compile
/config.status
/config.sub
/configure
/config.log
/config.guess
/intltool-update.in
/libtool
/depcomp
/intltool-extract.in
/install-sh
/intltool-merge.in
/ltmain.sh
/missing
/po/POTFILES
/po/stamp-it
/app/teovpn
/tests/teonet_tst
/teonet-*/
/teonet-*.gz
/libteonet_*
/sh/make_package
/repo/
/tests/rt_udp
/tests/test_net_tr_udp
/tests/test_teonet
/examples/teoack
/.teoack/teonet.conf.out
/examples/teoackm
/.teoackm/
/tests/test_cque
/examples/teocque
/nbproject/private/
/app/teodb
/.teodb/
/app/teoweb
/examples/teostream
/examples/teol0cli
/embedded/libteol0/teonet_l0_client_wrap.c
/embedded/libteol0/teonet_l0_client.py
/examples/teol0cli_n
/examples/teol0cli_ns
/user_data
/tests/http-post
/tests/post/post-callback
/tests/post/http-post
/examples/teosscr
/app/teoroom
/configure.scan
/autoscan.log
/examples/teodb_ex
/examples/go/wiki
/examples/go/TestPage.txt
examples/go/teogo/teogo
/sh/temp
/app/teodsp
/app/teogw
/examples/teotru_load
/examples/perl/teonet_wrap.c
/examples/perl/teonet.pm
/examples/teocpp
/examples/teocpp_2
/examples/teocquecpp
/examples/teocquecpp_2
/examples/teodb_ex_cpp
/examples/teodb_ex_cpp_2
/examples/perl/MYMETA.yml
/examples/perl/MYMETA.json
/examples/perl/teonet.bs
/examples/perl/pm_to_blib
/examples/perl/blib/
/examples/perl/Makefile.old
/examples/perl/Teonet.pm
/embedded/libpbl/src/package-lock.json
/tests/load_test/teoloadsi-js/nbproject/private/
/tests/load_test/teoloadsi-js/node_modules/
/tests/pipe_ping
*.in~
/distr/libtuntap-master/
/embedded/cpputest-3.8/
/embedded/cpputest-3.8.tar.gz*
/m4/
