[submodule "embedded/teocli"]
	path = embedded/teocli
	url = https://gitlab.ksproject.org/teonet/teocli.git

[submodule "app/embedded/jsmn"]
	path = app/embedded/jsmn
	url = https://github.com/zserge/jsmn.git

[submodule "embedded/libtrudp"]
	path = embedded/libtrudp
	url = https://gitlab.ksproject.org/teonet/trudp.git
