Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
/intltool-extract.in
/intltool-update.in
/depcomp
/config.sub
/missing
/config.status
/ltmain.sh
/config.log
/libtool
/configure
/intltool-merge.in
/install-sh
/configure.scan
/autoscan.log
.deps
.libs
*.o
/nbproject/private
/po/Makefile.in.in
/po/stamp-it
/po/POTFILES
/src/stamp-h1
/src/teoasync_c
/src/config.h
/src/config.h.in